version: '3'

services:

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086"
    volumes:
      - influxdb-storage:/var/lib/influxdb2

  probe:
    build: ./probe
    depends_on:
      - influxdb

volumes:
  influxdb-storage: